<!-- your html code here -->
<div class="container p-6">
    <div class="row">
        <div class="col-10">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-10">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Your E-Mail</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                        placeholder="Your E-Mail">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="mb-3">
                    <label for="messageBox" class="form-label">Your message</label>
                    <input type="messageBox" class="form-control" id="messageBox"
                        placeholder="Please enter your message here...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary d-end">Submit</button>
            </div>
        </div>
    </form>

</div>