<!-- your html code here -->
<div class="container">
    <div class="row">
        <hr class="divider my-5">

        <div class="col-4">
            <img src="/website/assets/img/2.jpg"  class="rounded-circle w-100 p-2 "/>
        </div>
        <div class="col-8">
            <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too</span></h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus a, libero quo excepturi impedit architecto debitis enim dicta molestias! Odio eligendi nulla cupiditate esse quibusdam culpa doloribus consectetur nihil. Sit?</p>
        </div>
    </div>
    <hr class="divider mt-5">
</div>